<div class="container-fluid col-6">
<form action = "/users/save" method ="post">

<div class="form-group">
<label for="nome">Nome:</label>
<input type="text" class="form-control" name="nome" id="name" placeholder="Digite seu Nome...">
</div>
<div class="form-group col-3">
<label for="idade">Idade:</label>
<input type="text" class="form-control" name="age" id="idade" placeholder="Digite sua Idade...">
</div>
<div class ="form-group col-7">
    <label for ="email">e-mail:</label>
    <input type="text" class="form-control" name="email" id="email"  placeholder="Digite seu Email...">
</div>
<button type="submit" class="btn btn-primary">Enviar</button>
</form>
</div>