<div class="container">
<form action="/users/save" method="post">

<div class="row">
<div class="col-4">

<label>Nome do Produto:</label>
<input type="text" class="form-control" name="nameProduto" id="nome">

</div>
</div>

<div class="row">
<div class="col-4">

<label>Nome do Fornecedor:</label>
<input type="text" class="form-control" name="nameFornecedor" id="nomeFornecedor">

</div>
</div>


<div class="col-2">
    <label>Data da Compra:</label>
    <input type="date" class="form-control" name="dataCompra" id="dataCompra">

<div class="col-2">
    <label>Valor de Compra:</label>
    <input type="text" class="form-control" name="valorCompra" id="valorCompra">
</div>
</div>

<div class="row">
    <div class="col-5">
        <label>Valor de Venda:</label>
        <input type="text" class="form-control" name="valorVenda">
    
    <div class="col-2">
        <label>Categoria:</label>
        <input type="text" class="form-control" name="categoria">
           
        </select>
    </div>
    </div>
    </div>


<br>

<button type="submit" class="btn btn-primary">Enviar</button>
</form>

</div>